aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
fastapi==0.63.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==3.1
loguru==0.5.3
multidict==5.1.0
nonebot-adapter-cqhttp==2.0.0a13
nonebot2==2.0.0a13.post1
pydantic==1.8.1
pygtrie==2.4.2
python-dotenv==0.17.0
PyYAML==5.4.1
rfc3986==1.4.0
sniffio==1.2.0
soupsieve==2.2.1
starlette==0.13.6
tomlkit==0.7.0
typing-extensions==3.7.4.3
uvicorn==0.13.4
watchgod==0.7
websockets==8.1
win32-setctime==1.0.3
yarl==1.6.3
